/* About Section*/

#Sobre {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.375rem;
}

.imagesEvent {
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4.375rem;
  position: relative;
}

.ImgFront {
  position: absolute;
  margin-left: 70px;
  margin-top: 70px;
  z-index: 1;
}
.ImgBack {
  border-radius: 1.5rem;
  opacity: 0.30000001192092896;
  margin-left: -70px;
  margin-top: -70px;
}

@media (max-width: 1200px) {
  .sobre {
    flex-direction: column;
  }
}
/* 
///////////// */

@media (max-width: 700px) {
  #Sobre {
    display: inline;
  }
  .sobre {
    gap: 2rem;
  }

  .sobre.desc-container {
    height: 85%;
  }
  .ImgFront {
    width: 300px;

    margin-left: 20px;
    margin-top: 20px;
  }
  .ImgBack {
    width: 300px;

    margin-left: -20px;
    margin-top: -20px;
  }
}
/* 
///////////// */
