/* Artistas */

#Singers {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.singer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.desc-container {
  display: flex;
  width: 29.375rem;
  height: auto;
  flex-direction: column;
  justify-content: center; /* Alinha os itens verticalmente ao centro */
  gap: 5rem;
  color: #f9f9f9;
  align-items: flex-start;
}
/* */
.singers {
  width: 41.875rem;
  height: 44.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4.375rem;
  position: relative;
}

.images {
  width: 100;
  height: 100%;
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}
.imagesback {
  width: 100;
  height: 100%;
  flex-shrink: 0;
  max-width: 100%;
  flex-shrink: 0;
  z-index: -10;
}

.images .img1,
.img4 {
  width: 23.125rem;
  height: 16.875rem;
  margin: 5px;
  z-index: 10;
}
.images .img3,
.img2 {
  width: 16.875rem;
  height: 18.75rem;
  margin: 5px;
  z-index: 10;
}

.img1blur,
.img4blur {
  width: 23.125rem;
  height: 16.875rem;

  padding-left: 1rem;
  filter: blur(40px);
}
.img3blur,
.img2blur {
  width: 16.875rem;
  height: 18.75rem;

  filter: blur(40px);
}
.images img {
  border-radius: 1.5rem;
}

.images,
.imagesback img {
  max-width: 100%; /* Para que a imagem se ajuste proporcionalmente à div */
  height: auto;
}
/* artist end*/

@media (max-width: 1024px) {
  #Singers .container {
    display: flex;
  }
  .singer {
    display: flex;
    flex-direction: column-reverse;

    gap: 0;
  }
  .sobre {
    gap: 1rem;
  }
  .desc-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-content {
    text-align: center;
    align-items: center;
  }
  .aboutcontent h2 {
    text-align: center;
    justify-content: center;
  }
  .images .img1,
  .img4 {
    width: 16.187rem;
    height: 11.812rem;
  }
  .images .img3,
  .img2 {
    width: 13.125rem;
    height: 16.187rem;
  }
  .singers {
    width: 100%;
    height: auto;
  }
  .aboutcontent,
  .desc-container {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .textH2 {
    font-size: 25px;
  }
  .textH5 {
    line-height: 18px;
  }
  .singers {
    width: 100%;
    height: auto;
  }
  .images .img1,
  .img4 {
    width: 11.3309rem;
    height: 8.268rem;
  }
  .images .img3,
  .img2 {
    width: 9.187rem;
    height: 11.3309rem;
  }
}

@media (max-width: 375px) {
  .images .img1,
  .img4 {
    width: 7.93rem;
    height: 5.7876rem;
  }
  .images .img3,
  .img2 {
    width: 6.43;
    height: 7.93rem;
  }
}
