/* Artistas */

#Artistas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.singer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.desc-container {
  display: flex;
  width: 29.375rem;
  height: auto;
  flex-direction: column;
  justify-content: center; /* Alinha os itens verticalmente ao centro */
  gap: 5rem;
  color: #f9f9f9;
  align-items: flex-start;
}
/* */
.singers {
  width: 41.875rem;
  height: 44.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4.375rem;
  position: relative;
}

/* artist end*/

@media (max-width: 1024px) {
  .singer {
    flex-direction: flex;
    gap: 0;
  }
  .desc-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-content {
    text-align: center;
    align-items: center;
  }
  .aboutcontent h2 {
    text-align: center;
    justify-content: center;
  }
  .singers {
    width: 100%;
    height: auto;
  }
  .aboutcontent,
  .desc-container {
    gap: 1rem;
  }
  /**/
}
@media (max-width: 900px) {
  .singer {
    flex-direction: column-reverse;
    gap: 0;
  }
}
@media (max-width: 600px) {
  .textH2 {
    font-size: 25px;
  }
  .textH5 {
    line-height: 18px;
  }
  .singers {
    width: 100%;
    height: auto;
  }
}

/*fotos*/
